td>a:hover {
	font-weight: bold;
	transition: .3s;
}

.main-table {
	border-collapse: collapse;
	line-height: 1.5;
	margin: 20px auto;
	font-size: 1.2rem;
	border : 0.5px solid black;
}

.main-table thead {
	background-color: #d3f2fe;
}

.main-table th, td {
	padding: 10px 0;
}

.main-table tr {
	border-bottom: 0.5px solid #424242;
}

.main-table {
	text-align: center;
}